.project-modal {
  background-color: #fff;
  border: 1px dotted #ddd;
  border-radius: 4px;
  display: block;
  height: 137px;
  line-height: 1.42857;
  padding: 4px;
  transition: border 0.2s ease-in-out 0s;

  .modal-trigger {
    display: block;
    font-size: 2em;
    margin: 12% auto;

    .fa-btn {
      margin-right: 0;
    }
  }
}